html {
 box-sizing: border-box;
 font-family: serif;
 font-size: 16px;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
 margin: 0;
 overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

img {
 max-width: 100%;
	height: auto;
}

.main {
	max-width: 100%;
	margin: 0 auto 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
